body {
  margin: 0;
}

/*#flex-container {
  display: flex;
  justify-content: space-between;
  height: 200px;
}*/

nav {
  background-color: #a83250;
  height: 75px;
}

header {
  background-image: url(https://ehc-west-0-bucket.s3.us-west-2.amazonaws.com/web/documents/chongqinghouseprovidence/headerbg_5a0c71cd40510.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://media.istockphoto.com/vectors/music-themed-background-with-chinese-musical-instruments-vector-id1221269374);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  height: 300px;
}

#index_sec {
  background-image: url(https://image.freepik.com/free-photo/music-device-old-gramophone-with-plate-vinyl-disk-wooden-box-antique-brass-record-player_95891-794.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_sec_items {
  width: 50%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #a83250;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 50%;
  font-size: 0.5em;
}

input[type='submit']:hover {
  background-color: black;
}

form {
  font-size: 3em;
}

p {
  background-color: khaki;
  height: 200px;
}

div.col {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}

#demo {
  background-color: #a83250;
  color: white;
  font-size: 1.5em;
  opacity: 0.8;
  width: 900px;
}

th,
td {
  text-align: left;
  padding: 12px;
}
th {
  background-color: black;
}

tr:hover {
  background-color: black;
}
#table_header {
  position: sticky;
  margin-top: ;
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: darkgreen;
}
