body {
  margin: 0;
}

/*#flex-container {
  display: flex;
  justify-content: space-between;
  height: 200px;
}*/

header {
  background-image: url(https://ehc-west-0-bucket.s3.us-west-2.amazonaws.com/web/documents/chongqinghouseprovidence/headerbg_5a0c71cd40510.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://media.istockphoto.com/vectors/music-themed-background-with-chinese-musical-instruments-vector-id1221269374);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  height: 300px;
}

#index_sec {
  background-image: url(https://image.freepik.com/free-photo/music-device-old-gramophone-with-plate-vinyl-disk-wooden-box-antique-brass-record-player_95891-794.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_sec_items {
  width: 50%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #a83250;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 50%;
  font-size: 0.5em;
}

input[type='submit']:hover {
  background-color: black;
}

form {
  font-size: 3em;
}

p {
  background-color: khaki;
  height: 200px;
}

div.col {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}

#demo {
  background-color: #a83250;
  color: white;
  font-size: 1.5em;
  opacity: 0.8;
  width: 900px;
}

th,
td {
  text-align: left;
  padding: 12px;
}
th {
  background-color: black;
}

tr:hover {
  background-color: black;
}
#table_header {
  position: sticky;
  margin-top: ;
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: darkgreen;
}

song ul {
  height: 600px;
  width: 180%;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(https://ae01.alicdn.com/kf/HTB10fhHNpXXXXapXVXXq6xXFXXXV/50Pcs-car-sticker-Music-Notes-N-vinyl-decal-sticker-graphics-Wall-Furniture-Window-Car-transfer-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#ul_song {
  display: flex;
  font-size: 1.3em;
  height: 700px;
}

.details {
  font-size: 1.5em;
  background-color: lightgray;
  width: 600px;
  padding: 20px;
  margin: 20px;
  height: 450px;
}


.details > div > input,
.details > div > label {
  border: 5px solid white;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 70%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: #a83250;
  background-color: black;
  color: white;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a83250;
  height: 75px;
}
nav > ul > li {
  float: left;
}

nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}